body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
/* Headings

--------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amiri', serif;
}

.navbar-brand {
    padding-top: 0.15rem;
}
.navbar-brand>a {
    font-family: 'Amiri', serif;
    text-transform: uppercase;
}
#masthead .navbar-nav>li a {
    border-bottom-width: 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    text-transform: uppercase;
}
div#page-sub-header h1 {
    font-family: 'Amiri', serif;
}
#secondary .widget-title {
    font-family: 'Amiri', serif;
}
.entry-meta {
    font-family: 'Amiri', serif;
}
